.lead, .display-4, title, head, body {
  font-family: 'Great-Vibes', cursive;
  height:auto;
}

h1{
  color: blue;
}

.homecover {
  background-size: cover;
  height:125px;
  width: auto;
}
.textcenter {
  text-align: center;
  font-weigt:500;

}
