{% extends 'base.html' %}

{% block title %}Movies{% endblock title %}

{% block content %}
  {% for movie in object_list %}
    <div class="card">
      <div class="card-header">
        <span class="font-weight-bold">{{ movie.title }}</span> &middot;
        <span class="text-muted">on {{ movie.year }}.</span>
        <span class="text-muted"> <h6>Hero was: {{ movie.Dhero }}</h6></span>
      </div>
      <div class="card-footer text-center text-muted">
        <a href="{% url 'movie_edit' movie.pk %}">Edit</a> |
        <a href="{% url 'movie_delete' movie.pk %}">Delete</a>
      </div>
    </div>
    <br />
  {% endfor %}
{% endblock content %}
